@model Agnos.Models.ResetPasswordViewModel
@using AgnosModel.Models;
@using Agnos.Models;
@using AppFramework.Control;
@using System.Text;
@using System.Collections;
@using System
@using SBSResourceAPI;
@using AppFramework.Util;
@using Agnos.Common;
@{
   ViewBag.Title = Resource.Reset_Password;
}
@if (Model.IsActivationLink)
{
   <script type="text/javascript">
      $(function () {
         $("#content").addClass('full-page bg-8');
      });
   </script>
}
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form", id = "theForm" }))
{
   @Html.AntiForgeryToken()
   <div class="main">
      @if (Model.IsActivationLink)
      {
         <div style="height:50px"></div>
      }
      @Html.AppPageHeader(Resource.Reset_Password)
      @Html.AppMessage(Model.result.Code, Model.result.Field + " " + Model.result.Msg)
      @Html.HiddenFor(m => m.uid)
      @Html.HiddenFor(m => m.IsActivationLink)
      <section class="tile">
         <div class="tile-body">
            @if (!Model.notValidateCurrent)
            {
               @Html.AppLabelFor(m => m.OldPassword)
               @Html.AppPasswordFor(m => m.OldPassword, 4)
            }
            @Html.AppLabelFor(m => m.NewPassword)
            @Html.AppPasswordFor(m => m.NewPassword, 4)
            @Html.AppLabelFor(m => m.ConfirmPassword)
            @Html.AppPasswordFor(m => m.ConfirmPassword, 4)
         </div>
      </section>
      <section class="tile">
         <div class="tile-body ">
            @Html.AppButton(Resource.Save, AppButtonType.submit, AppColor.blue, new { name = "savemode", value = "save" })
            @Html.AppActionLink(Resource.Cancel, Url.Action("ResetPassword", "Account"), AppColor.none)
         </div>
      </section>
   </div>
}
